{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>
    {{ form_start(registrationForm,{'attr':{'class':'container'}}) }}
        {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'},'label_attr': {'class': 'row'}}) }}
        {{ form_row(registrationForm.firstName, {'attr': {'class': 'form-control'},'label_attr': {'class': 'row'}})}}
        {{ form_row(registrationForm.lastName, {'attr': {'class': 'form-control'},'label_attr': {'class': 'row'}}) }}
        {{ form_row(registrationForm.plainPassword, {'label':'Password','attr': {'class': 'form-control'},'label_attr': {'class': 'row'}}) }}
        <button type="submit" class="btn btn-primary btn-lg btn-block mt-3">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
