{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>
    {{ form_start(registrationForm,{'attr':{'class':'container'}}) }}
    {{ form_row(registrationForm.email, {'label':' ','attr': {'class': 'form-control','placeholder':"Email"}}) }}
    {{ form_row(registrationForm.firstName, {'label':' ','attr': {'class': 'form-control','placeholder':"First name"}} )}}
    {{ form_row(registrationForm.lastName, {'label':' ','attr': {'class': 'form-control','placeholder':"Last name"}}) }}
    {{ form_row(registrationForm.plainPassword, {'label':' ','attr': {'class': 'form-control','placeholder':"Password (6-12)"}}) }}
    <div class="container m-auto">
        <div class="row mt-3 justify-content-between ">
            <div class="col-auto">
                <a class="btn btn-primary btn-lg mt-3" href="{{ path('homepage') }}">Back to
                    homepage</a>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-lg mt-3">Register</button>
            </div>
        </div>
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}
