{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <h1>My account</h1>
    <div class="container">
        <div class="row mx-5">
            <a class="btn btn-primary btn-lg mt-3" href="{{ path('license_plate_index') }}">My cars</a>
        </div>
        <div class="row mx-5">
            <a class="btn btn-primary btn-lg mt-3" href="{{ path('imblocker') }}">I've blocked someone</a>
        </div>
        <div class="row mx-5">
            <a class="btn btn-primary btn-lg mt-3" href="{{ path('imblockee') }}">Someone blocked me </a>
        </div>
        <div class="row mx-5">
            <a class="btn btn-primary btn-lg mt-3" href="{{ path('change_pwd') }}">Change password</a>
        </div>
        <div class="row mx-5">
            <a class="btn btn-primary btn-lg mt-3" href="{{ path('app_logout') }}">Logout</a>
        </div>
    </div>
{% endblock %}
